@charset "utf-8";
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, img, a {
    margin: 0;
    padding: 0;
    border:none;
}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0); outline: none;}
img {
    border: 0 none;
    vertical-align: top;
    display: block;
}
ul, li {
    list-style-type: none;
}
body, input, select, button, textarea {
    font-family: "Microsoft YaHei", Arial;
}
button {
    cursor: pointer;
}
i, em{
    font-style: normal;
}
a {
    text-decoration:none;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
/*清浮动*/
.clear:after {
    display: block;
    content: ' ';
    font-size: 0;
    height: 0;
    clear: both;
}
.clear { *zoom:1; }
.por{ position: relative;}
.poa{ position: absolute;}

.wrapper{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    background: #fff;
}

.wrapper img{
    display: block;
    width:100%;
}

.pack_03{
    height: 3.22rem;
    background: url(../img/pack_03.jpg) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
.pack_box{
    
}
.pack_wx{
    font-size: 0.5rem;
    color:#fff;
    text-align: center;
    line-height: 0.9rem;
    width:5.6rem;
    margin: 0 auto 0.26rem;
}
.pack_btns{
    height: 1.05rem;
}
.pack_btlf,.pack_btri{
    float: left;
}
.pack_btlf{
    margin-left: 1.26rem;
}
.pack_btri{
    margin-left: 1rem;
}
.pack_btns i{
    display: block;
    font-size: 0.35rem;
    text-align: center;
    color:#ffe743;
    line-height: 0.4rem;
    margin-bottom: 0.2rem;
}
.pack_btns span,.pack_btns a{
    display: block;
    width:1.95rem;
    height: 0.4rem;
    line-height: 0.38rem;
    text-align: center;
    border:2px solid #ffe743;
    border-radius: 0.08rem;
    font-size: 0.3rem;
    color:#ffe743;
    cursor: pointer;
    position:relative;
}

.pack_04{
    height: 5.29rem;
    background: url(../img/pack_04.jpg) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    overflow: hidden;
}

.pack_04 table{
    width:6.3em;
    margin:1.4rem auto 0;
    border-collapse: collapse;
}

.pack_04 table tr td,.pack_04 table tr th{
    font-size: 0.3rem;
    color:#805b2b;
    line-height: 0.5rem;
    text-align: center;
    border-left: 1px dashed #282827;
    border-bottom: 1px dashed #282827;
}
.pack_04 table tr td:last-child,.pack_04 table tr th:last-child{
    font-weight: bold;
    color:#f82d34;
}
.pack_04 table tr td:first-child,.pack_04 table tr th:first-child{
    border-left:none;
}
.pack_04 table tr:last-child td{
    border-bottom:none;
}
.pack_04 table tr th{
    font-size: 0.32rem;
    font-weight: bold;
}


.pack_05{
    height: 3.5rem;
    background: url(../img/pack_05.jpg) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

.pack_box p{
    font-size: 0.3rem;
    text-align: center;
    color:#fefefc;
    line-height: 0.34rem;
    margin-top:0.4rem;
}


.pack_btns span::after,.pack_btns a::after {
    content: ' ';
    border: 2px solid #ffe743;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.1rem;
    opacity: 0.8;
    animation: box 1s linear infinite;
    -webkit-animation: box 1s linear infinite;
    position: absolute;
    top: -0.1rem;
    left: -0.02rem;
}

.copy_box{
    width: 3.89rem;
    padding: 0.2rem 0;
    background: #0b0b0b;
    color: #FFF;
    font-size: 0.18rem;
    text-align: center;
    line-height: 0.35rem;
    border-radius: 0.2rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 100;
}


.foot{
    background: #2d2c2c;
    color:#fefdfd;
    text-align: center;
    font-size: 0.15rem;
    line-height: 0.25rem;
    padding:0.15rem 0;
}

@keyframes box{
    0%{
        transform: scale(1);
        opacity: 0;
    }
    100%{
        transform: scale(1.2);
    }
}
@-webkit-keyframes box{
    0%{
        transform: scale(1);
        opacity: 0;
    }
    100%{
        transform: scale(1.2);
    }
}